@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

.clip-text {
  -webkit-background-clip: text;
  background-clip: text;
}

.gradient {
  background-image: linear-gradient(
    135deg,
    #b16cea 33.85%,
    #ff5e69 55.21%,
    #ff8a56 78.12%,
    #ffa84b 100%
  );
}
.heroTextContainer {
  max-width: 600px;
  text-align: left;
}
.heroButton {
  top: 6px;
  left: 16px;
  right: -6px;
}
.footerWrapper {
  padding: 50px 15px 0px;
}
.faqSubTitle.show-description {
  height: auto;
}
.faqTitle:not(:last-child) {
  border-bottom: 1px solid #e5e7eb;
}
.faqSubTitle {
  height: 0;
  overflow: hidden;
  transition: all 200ms ease-out;
}
.pricingWrapper {
  background: rgb(243, 244, 246);
  background: linear-gradient(
    180deg,
    rgba(243, 244, 246, 1) 0%,
    rgba(243, 244, 246, 1) 55%,
    rgba(255, 255, 255, 1) 55%,
    rgba(255, 255, 255, 1) 100%
  );
}
@media screen and (max-width: 768px) {
  .min-w-333 {
    min-width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .heroWrapper:after {
    content: "";
    position: absolute;
    width: 398px;
    height: 413px;
    right: -140px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    background-color: #f3f4f6;
    z-index: 0;
  }
  .featureWrapper {
    clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
  }
  .featureWrapper > div {
    max-width: 592px;
  }
  .pricingWrapper {
    background: rgb(243, 244, 246);
    background: linear-gradient(
      180deg,
      rgba(243, 244, 246, 1) 0%,
      rgba(243, 244, 246, 1) 65%,
      rgba(255, 255, 255, 1) 65%,
      rgba(255, 255, 255, 1) 100%
    );
  }
  .statusWrapper:after {
    content: "";
    position: absolute;
    display: block;
    width: 404px;
    height: 404px;
    top: 46%;
    transform: translateY(-50%);
    background: url(../public/PathStatus.png);
    background-repeat: no-repeat;
    z-index: 1;
    left: -10%;
    background-position: top left;
  }
  .footerWrapper {
    padding: 184px 0 0 0;
    clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0% 100%);
  }
  .footerWrapper > div {
    max-width: 42rem;
  }
}
@media screen and (min-width: 1024px) {
  .heroWrapper:after {
    width: 398px;
    height: 413px;
    right: 0px;
    top: 59%;
  }
  .heroWrapper .text-47 {
    font-size: 47px !important;
  }
  .statusWrapper:after {
    background-repeat: repeat;
    left: -13%;
    height: calc(100% - 48px);
    top: 48px;
    transform: translateY(-48px);
  }
  .footerWrapper > div {
    max-width: 911px;
  }
  .min-w-333 {
    min-width: 333px;
  }
}
@media screen and (min-width: 1280px) {
  .heroWrapper:after {
    width: 45%;
    height: 546px;
    right: -140px;
    top: 50%;
  }
  .heroWrapper .text-47 {
    font-size: 60px !important;
  }
  .featureWrapper {
    clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);
  }
  .featureWrapper > div {
    max-width: 1216px;
  }
  .featureWrapper:after {
    content: "";
    position: absolute;
    width: 400px;
    height: 400px;
    left: 0;
    top: 225px;
    display: block;
    background: url(../public/Path.png) no-repeat;
    z-index: -1;
  }
  .featureCol3 > :nth-child(1) {
    grid-column: span 2;
  }
  .w24 {
    width: calc(25% - 16px);
  }
  .w48 {
    width: calc(50% - 24px);
  }
  .min-w-333 {
    min-width: 333px;
  }
  .statusWrapper:after {
    background-repeat: repeat;
    left: -14%;
    height: 100%;
    top: 48px;
    transform: translateY(24px);
  }
  .footerWrapper > div {
    max-width: 1216px;
  }
}
